---
http_interactions:
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/search?channelId=UCluQ5yInbeAkkeCndNnUhpw&key=AIzaSyDBx0fEb-RnO1fqSDFgx7aaivcvj27jsFU&order=relevance&part=snippet&q=italy
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "kind": "youtube#searchListResponse",
          "etag": "1zzKjzZDn1bh3CTTNSq3tqaGjZw",
          "nextPageToken": "CAUQAA",
          "regionCode": "US",
          "pageInfo": {
            "totalResults": 60,
            "resultsPerPage": 5
          },
          "items": [
            {
              "kind": "youtube#searchResult",
              "etag": "fZrxYep3SpOL2SRZRaridMLJhZ8",
              "id": {
                "kind": "youtube#video",
                "videoId": "DD4wjwaFU-U"
              },
              "snippet": {
                "publishedAt": "2021-05-07T03:20:53Z",
                "channelId": "UCluQ5yInbeAkkeCndNnUhpw",
                "title": "A Super Quick History of Italy",
                "description": "Sources: \"A Brief History of Italy\" (2018) by Jeremy Black. Robinson Publishing, London. \"The Pursuit of Italy: A History of its ...",
                "thumbnails": {
                  "default": {
                    "url": "https://i.ytimg.com/vi/DD4wjwaFU-U/default.jpg",
                    "width": 120,
                    "height": 90
                  },
                  "medium": {
                    "url": "https://i.ytimg.com/vi/DD4wjwaFU-U/mqdefault.jpg",
                    "width": 320,
                    "height": 180
                  },
                  "high": {
                    "url": "https://i.ytimg.com/vi/DD4wjwaFU-U/hqdefault.jpg",
                    "width": 480,
                    "height": 360
                  }
                },
                "channelTitle": "Mr History",
                "liveBroadcastContent": "none",
                "publishTime": "2021-05-07T03:20:53Z"
              }
            },
            {
              "kind": "youtube#searchResult",
              "etag": "HSKuwu0Ix8lVCIlQZAx1fsqCt4E",
              "id": {
                "kind": "youtube#video",
                "videoId": "GXww65SCZ1s"
              },
              "snippet": {
                "publishedAt": "2020-01-05T21:10:15Z",
                "channelId": "UCluQ5yInbeAkkeCndNnUhpw",
                "title": "A Super Quick History of Croatia",
           [...]
