---
http_interactions:
- request:
    method: get
    uri: https://restcountries.com/v3.1/name/abcdefghij
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"status":404,"message":"Not Found"}'
  recorded_at: Mon, 14 Nov 2022 18:39:57 GMT
- request:
    method: get
    uri: https://api.geoapify.com/v2/places?apiKey=02cee7aca693487fb24a852db5d45f9b&categories=tourism.sights&filter=circle:,,20000
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Api-Version:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"statusCode":400,"error":"Bad Request","message":"\"filter[0]\" does
        not match any of the allowed types"}'
  recorded_at: Mon, 14 Nov 2022 18:42:11 GMT
recorded_with: VCR 6.1.0
